In [2]:
from python_speech_features import logfbank
import scipy.io.wavfile as wav
import pandas as pd
import numpy as np

In [3]:
for i in range(1,10):
    for j in range(1,68):
        (rate,sig) = wav.read("Read_Up/IDR"+str(i)+"/"+str(j)+".wav")
        fbank_feat = logfbank(sig,rate)
        temp = np.array(fbank_feat.mean(0))
        if i==1 and j==1:
            data = np.append(temp,i)
        else:
            temp = np.append(temp,i)
            data = np.vstack([temp, data])

In [72]:
df = pd.DataFrame(data, dtype='float')
df.head()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,7.830671,8.581331,9.147415,8.996596,8.836147,8.708944,8.097036,7.771458,8.121629,8.269317,...,9.132200,9.590182,9.862562,9.692359,8.846862,8.335753,8.933413,9.143822,8.288528,9.0
1,9.548327,8.860108,8.969109,8.547251,8.626712,8.574143,8.423825,7.883591,7.769566,8.040357,...,9.191105,9.008897,8.949039,8.841969,8.788357,7.965001,7.643444,7.390326,7.228779,9.0
2,8.299789,9.078518,10.023524,10.111276,9.658521,9.635896,9.301632,8.897943,9.032253,9.298204,...,11.514540,11.524941,11.581147,11.536638,11.157661,10.974197,11.017750,11.261813,10.736523,9.0
3,8.343071,9.293149,11.137295,10.242524,9.981548,10.763463,10.701512,9.652433,9.037982,9.182931,...,10.388237,10.235695,10.432830,10.545778,10.660840,10.574020,9.889667,9.919802,10.007458,9.0
4,8.679598,9.621076,10.836016,9.894565,10.454912,10.915756,10.671858,9.860795,9.717216,9.505861,...,10.458046,10.605623,11.068948,10.955679,10.511215,9.651242,9.328741,9.739864,10.013153,9.0

In [1]:
from sklearn.utils import shuffle
shuffled = shuffle(df)
shuffled.head()

NameError: name 'df' is not defined

In [46]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(shuffled, test_size = 0.3)

In [64]:
x_train = train.iloc[1:423, 1:26]
y_train = train.iloc[1:423, 26:27]
x_test = test.iloc[1:182, 1:26]
y_test = test.iloc[1:182, 26:27]
x_test.head()

,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
361,6.528693,7.702357,7.523501,7.814954,7.919059,7.614336,7.229655,7.277497,7.384350,7.219591,...,8.630933,8.855961,8.579817,8.420196,8.548064,8.119106,8.044151,7.638343,7.545819,7.417893
157,9.782779,12.277010,12.039589,11.785223,13.088421,12.523382,12.304168,11.585389,11.298508,11.767626,...,11.933426,12.589459,13.108979,13.203790,13.363877,12.741378,12.343531,11.872139,11.217380,10.733905
431,10.991821,11.388474,10.759847,10.855066,11.105229,10.605966,9.515033,9.614210,9.851080,9.840760,...,11.321580,11.182353,11.328472,11.265426,10.254835,10.669259,10.466642,9.787545,9.203207,9.007397
503,12.600788,12.208273,12.468123,12.410310,12.264652,11.822983,10.858650,10.609452,10.756961,10.855212,...,11.139914,10.443080,10.813858,11.262623,11.167057,10.480803,10.358660,10.522530,11.078108,10.680634
121,9.213502,10.589014,9.903212,10.535490,9.923117,9.532399,8.886140,9.113559,9.202793,9.257820,...,10.142876,10.075695,9.663453,10.303964,10.306890,9.984400,9.611443,9.672390,9.601426,9.242796

In [65]:
from sklearn.preprocessing import StandardScaler
normal = StandardScaler()
x_new = normal.fit_transform(x_train)
x_train= pd.DataFrame(x_new, dtype='float')
x_new = normal.fit_transform(x_test)
x_test= pd.DataFrame(x_new, dtype='float')
x_test.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,-1.317997,-1.200183,-1.232120,-1.114477,-1.144895,-1.161588,-1.183806,-1.158400,-1.129326,-1.275912,...,-1.014312,-0.812798,-0.985302,-1.112047,-1.074515,-1.186187,-1.079049,-1.220023,-1.253339,-1.182089
1,0.140037,0.908724,0.930486,0.722909,1.329967,1.298286,1.652597,1.425839,1.202669,1.394458,...,1.056377,1.554571,1.798289,1.640829,1.632307,1.394816,1.337506,1.144872,0.765901,0.652530
2,0.681764,0.499111,0.317660,0.292446,0.380502,0.337488,0.093608,0.243358,0.340314,0.263102,...,0.672744,0.662341,0.704002,0.525334,-0.115191,0.237778,0.282562,-0.019531,-0.341829,-0.302678
3,1.402681,0.877037,1.135697,1.012191,0.935583,0.947323,0.844623,0.840389,0.880024,0.858735,...,0.558839,0.193576,0.387724,0.523721,0.397541,0.132547,0.221868,0.391013,0.689306,0.623057
4,-0.115035,0.130561,-0.092555,0.144550,-0.185440,-0.200466,-0.257912,-0.056975,-0.045925,-0.079170,...,-0.066312,-0.039378,-0.319307,-0.027971,-0.085932,-0.144637,-0.198120,-0.083854,-0.122821,-0.172442

In [66]:
from sklearn.svm import SVC  
svclassifier = SVC(kernel='linear')  
svclassifier.fit(x_train, y_train.values.ravel())

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [67]:
y_pred = svclassifier.predict(x_test)

In [69]:
svclassifier.score(x_test,y_test)

0.7944444444444444